.hero {
  text-align: center;
  margin-bottom: 1.5rem;
}

&__content {
  margin-bottom: 2rem;
}

&__header-image {
  width: 100%;
}

@media screen and (min-width: $max-mobile-width) {
  .hero {
    display: flex;
    align-items: center;
  }

  &__header-image {
    width: 50%;
    height: 400px;
  }
}
